<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-content>
  <h1>Produtos</h1>
  <ion-card *ngFor="let p of produtos">
    <img src={{p.image}}/>
    <ion-card-header>
      <ion-card-title>
        <div class="pcort">R$ {{ p.preco | number: '1.2-2' }}</div>
        <div class="desconto" *ngIf="p.preco">
          -10% R$ {{ (p.preco - (p.preco * 0.1)) | number: '1.2-2' }}
        </div>
      </ion-card-title>
      <ion-card-subtitle>{{p.nome}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{p.descricao}}
    </ion-card-content>
  </ion-card>
</ion-content>