form{
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
ion-input{
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
ion-thumbnail{
    --size:25px;
}

:host {
    display: block;
    background-color: #DBF2D8;
    padding: 20px;
    min-height: 90vh;
    box-sizing: border-box;
  }
