<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>  <h1>Home</h1>
</ion-buttons>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Evento Local
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



    <!-- Adicione mais slides se desejar exibir vários banners -->


  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Bem-vindo à Evento Local</h2>
        <p>Curta eventos a um passo de você</p>
          <ion-img src="(IMAGEM AQUI)"></ion-img>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Confira nossas promoções</h3>
        <p>Exeperimente nosso plano Premiun.</p>
      </ion-col>
    </ion-row>
    <!-- Adicione mais linhas e colunas conforme necessário -->
  </ion-grid>
</ion-content>