<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons><ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Produtos</ion-card-title>
      <ion-card-subtitle>área administrativa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of produtos">
          <ion-thumbnail slot="start">
            <img src={{p.image}} />
          </ion-thumbnail>
          <ion-label class="nome">{{p.nome}}</ion-label>
          <ion-label>{{p.preco}}</ion-label>
          <ion-label> <ion-button (click)="CarregaProdutos(true,p.id, p.nome, p.descricao, p.preco, p.qtd, p.image)"><ion-icon name="create-outline"></ion-icon></ion-button>
           
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-toast [isOpen]="isToastOpen" message="Produto editado com sucesso." [duration]="5000"
    (didDismiss)="mensagem(false)"></ion-toast>


   


</ion-content>


<ion-modal #modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <div class="block">
        <h3>Editar Produto</h3>

        <form>
          <ion-input fill="outline" value={{produto.nome}} #productName> <ion-icon slot="start" name="lock-closed"
              aria-hidden="true"></ion-icon></ion-input>
          <ion-input fill="outline" type="textarea" value={{produto.descricao}} #productDescript></ion-input>
          <ion-input fill="outline" value="R$ {{produto.preco}}" #preco></ion-input>
          <ion-input fill="outline" type="number" value={{produto.qtd}} #Qtd></ion-input>
          <ion-img src={{produto.image}}></ion-img>
          <ion-button fill="outline" expand="block" id="open-modal"><ion-thumbnail><img
                src="../../../assets/logos/googleLogo.png"></ion-thumbnail>Foto do produto</ion-button>
          <!-- <img *ngIf="isImg" src={{imgSrc}} class="imgSrc"> -->
          <ion-button expand="block"
            (click)="EditarProduto(productName.value,productDescript.value,preco.value,Qtd.value)">Editar</ion-button>
            <ion-button expand="block" (click)="isModalOpen=!isModalOpen">Voltar</ion-button>
          </form>
        
      </div>

    </ion-content>
  </ng-template>
</ion-modal>